*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   list-style: none;
}
body{
   background-color: darkgray;
}

.content-wrapper{
   margin-top:60px;
   min-height: calc(100vh - 60px);
   display:flex;
}